:root {
    --radius: 2px;
    --mydarkgrey: #444;
    --mylightgrey: rgb(74,74,74);
    --mylightestgrey: #666;
    --mygreen: rgb(40,180,0);
}
body {
    background: var(--mydarkgrey);
    margin-left: 5%;
    margin-right: 5%;
    color: gainsboro;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(220,220,220, .2);
    /*background: linear-gradient(#444, rgb(74,74,74));*/
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--mylightgrey);
}
::-webkit-scrollbar-thumb {
    background-color: var(--mydarkgrey);
    border-left: solid 2px var(--mylightgrey);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--mylightestgrey);
}
form {
    text-align: left;
    text-indent: 1em;
    background-color: --var(mydarkgrey);
    background-image: url("../assets/img/GridTest.png");
    border-radius: var(--radius);
    padding: 5px 5px 5px 5px;
    border: 1px solid var(--mylightgrey);
}
.container { position:relative; padding: 0px 0px 0px 145px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2.5%;
    font-weight: bold;
    color: rgba(0,0,0,.8);
    text-shadow: 1px 1px 0px rgba(255,255,255,.2);
}
h2 {
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: larger;
	border-bottom: thin solid var(--mygreen);
}
h3 {
    color: var(--mygreen);
    font-weight: normal;
    font-size: large;
}
h4 {
    color: var(--mygreen);
    font-weight: normal;
    font-size: medium;
    display: inline;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: var(--mylightestgrey);
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    margin: 5px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:visited {
    
}

img {

}
button {
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: rgb(40,180,0);
    border: solid thin rgb(74,74,74);
    color: gainsboro;
    padding: 5px 5px;
}
button:hover {
    background-color: #666;
    border: 1px solid rgb(40,180,0) !important;
}
#sidebar {
    border:1px solid var(--mydarkgrey);
    position: absolute;
    top:10px; bottom:10px; left:5px; right:10px;
    width: 120px;
    background: var(--mylightgrey);
    border-radius: var(--radius);
    padding: 5px 5px 5px 5px;
    font-size: small;
}
.header { border:0px solid #000; width:75%; 
    margin: 0 0 0px 2em;
    text-align: left;
    text-indent: 1em;
}
.header:visited {
    color: inherit;
    text-decoration: inherit;
}
.content { border:1px solid var(--mydarkgrey);
    margin:5px 5px 5px 5px;
    border-radius: var(--radius);
    background: var(--mylightgrey);
    text-indent: 1em;
    padding: 5px 5px 5px 5px;
}
#footer { border:0px solid var(--mydarkgrey); width:100%;
    margin:5px 0 0 -16px;
    text-indent: 0;
    padding-left: 6px;
    text-align: right;
}
#avatar {
    margin-left: -16px;
    width: 100%;
    border-radius: var(--radius);
}
#inFormDiv {
    padding: 5px 10px 5px 10px;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}
nav ul {
	background: var(--mydarkgrey);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	padding: 0px 0px;
	list-style: none;
	position: relative;
	display: inline-table;
	float: right;
}
nav ul:after {
	content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
	z-index: 99;
	margin-left: 0px;
	border-bottom: thin solid var(--mylightgrey);
}
nav ul li:hover {
	background: var(--mylightgrey);
	border-bottom: thin solid var(--mygreen);
}
nav ul li:hover a {
	color: gainsboro;
}

nav ul li a {
	display: block; padding: 10px 10px;
	color: var(--mylightestgrey); text-decoration: none;
}
nav ul ul {
	background: var(--mylightgrey); border-radius: 0px; padding: 0px;
	position: absolute; top: 100%;
	z-index: 99;
}
nav ul ul li {
	float: none; 
	border-top: 1px solid #555;
	border-bottom: 1px solid var(--mydarkgrey);
	position: relative;
}
nav ul ul li a {
	padding: 5px 10px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: var(--mydarkgrey);
}
nav ul ul ul {
	position: absolute; left: 100%; top:-1px;
	white-space: nowrap;
}
.active {
	border-bottom: solid var(--mygreen);
	border-width: 3px;
	padding-bottom: 8px;
	margin-bottom: -1px;
	background: var(--mylightgrey);
	color: gainsboro;
}
.nav{
   position:fixed;
   top:-17px;
   right:5%;
   z-index: 99;
}

.icon {
    width: 30px;
    border-radius: 5px;
}
.icon:hover {
    box-shadow: 0px 0px 5px rgba(40,180,0,1); 
}