body {
    margin: 0px;
    height: 100%;
    
    background: rgb(60,60,60);
    transition: all .3s;
}
html {
    height: 100%;
}
#headerBar {
    background: rgb(40,40,40);
    position: fixed;
    width: 100%;
    padding: 1em;
    color: gainsboro;
    
    display: flex;
}
#header {
    flex: 3;
    cursor: pointer;
}
#nav {
    padding: .6em 2em;
    
    display: flex;
}
.navItem {
    margin: 0px 1em;
    padding: 5px;
    
    font-size: large;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
    border-radius: 20px;
}
.navItem:hover {
    color: rgb(10,10,10);
    border-radius: 0px;
    background: gainsboro;
}
#nav1 {
    flex: 1;
}
#nav2 {
    flex: 1;
}
#nav3 {
    flex: 1;
}
footer {
    text-align: center;
    bottom: 0px;
}
h1 {
    margin: 0px;
}
.parallax {
    /* The image used */
    /*background-image: url('http://static.pexels.com/photos/6548/cold-snow-winter-mountain.jpeg');
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax1 {
    background-image: url('snow.jpeg');
}
#parallax2 {
    background: cornflowerblue;
}
@media only screen and (max-device-width: 720px) {
    #headerBar {
        flex-direction: column;
    }
    #header {
        flex: 1;
        text-align: center;
        font-size: 80px;
    }
    #nav {
        flex: 1;
        flex-direction: row;
        text-align: center;
    }
    .navItem {
        font-size: 40px;
        padding: 10px;
    }
}