body {
    background: #444;
    margin-left: 7.5%;
    margin-right: 2.5%;
    color: gainsboro;
    background-image: url("GridTest.pang")
}
form {
    text-align: left;
    text-indent: 5px;
    background-color: dimgrey;
    background-image: url("GridTest.png");
    border-radius:5px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
}
h2 {
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: larger;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: rgb(120,120,120);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    margin-left: 5px;
}
div {
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 5px;
    text-indent: 15px;
    background: rgb(74,74,74);
}